[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RTN"]
	path = RTN
	url = https://git.bioconductor.org/packages/RTN
[submodule "RTNduals"]
	path = RTNduals
	url = https://git.bioconductor.org/packages/RTNduals
[submodule "RedeR"]
	path = RedeR
	url = https://git.bioconductor.org/packages/RedeR
[submodule "geneplast"]
	path = geneplast
	url = https://git.bioconductor.org/packages/geneplast
